@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

.container {
  width: 500px;
  margin: auto;
  display: block;
  float: right;
  font-family: 'Roboto', sans-serif;
  /* -webkit-font-smoothing: antialiased; */
  height: 5000px;
}

.box {
  width: 100%;
  display: flex;
  margin-top: 50px;
}

.header-section {
  margin: auto;
  color: #222;
}

.box ul {
  list-style: none;
  line-height: 20px;
}

.box ul li{
  margin-top: 20px;
}

.header-product-text {
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 400;
  padding-left: 10px;
  padding-top: 14px;
  font-size: 26px;
}


.divider {
  color: #e1e3df;
  font-size: 14px;
}

.header-text {
  font-size: 16px;
  font-weight: 300;
  color: #222;
  padding-left: 10px;
  padding-right: 10px;
}

.price-text {
  padding-left: 10px;
  padding-top: 20px;
  font-size: 28px;
  font-weight: 500;
}

.in-stock-text {
  font-size: 13px;
  float: right;
  padding-top: 12px;
}

.stars {
  letter-spacing: 5px;
}

.checkout-options-container {
  text-align: center;
}

.checkout-options-container form{
  margin-top: 15px;
  display: block;
  float: left;
}

.select-label {
  display: block;
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 6px;
  margin-right: 300px;
  margin-top: 25px;
}

.select-value {
  padding-left: 10px;
}

#select-color {
  width: 67%;
  box-shadow: 0 1px 6px 0 rgba(34, 34, 34, 0.15);
  font-size: 16px;
  height: 48px;
  border-radius: 6px;
  background: #FFFFFF;
  border-color: rgba(34, 34, 34, 0.15);
  border-style: solid;
  border-width: 1px;
  color: #222222;
  text-indent: 0.01px;
  cursor: pointer;
  transition: 200ms ease-out;
  padding-left: 7px;
}

#select-color:hover {
  border-color: rgba(34, 34, 34, 0.5);
  box-shadow: 0 1px 12px 0 rgba(34, 34, 34, 0.2);
}

.btn {
  color: #222222;
  background: none;
  border: 2px solid #222222;
  display: block;
  width: 67%;
  margin: auto;
  text-align: center;
  margin-top: 20px;
  border-radius: 24px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  min-height: 48px;
  min-width: 48px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 18px;
  position: relative;
  text-align: center;
  z-index: 10;
  background-size: 100% 60%;
  background-position: 50% 50%;
}

.buy-it-now-button {
  transition: transform 200ms ease-out;
  box-shadow: 0 4px 20px rgba(34, 34, 34, 0.15);
}

.buy-it-now-button:hover {
  transform: scaleX(1.015) scaleY(1.035);
  cursor: pointer;
}

.add-to-cart-button {
  transition: .2s,opacity 150ms ease-out;
  box-shadow: 0 4px 20px rgba(34, 34, 34, 0.15);
  background: #222222;
  color: #FFFFFF;
}

.add-to-cart-button:hover {
  background: #2f2f2f;
  transform: scaleX(1.015) scaleY(1.035) perspective(1px);
  cursor: pointer;
}

.below-text {
  font-size: 13px;
}

.below-text-container {
  width: 73%;
  margin: auto;
}

.below-text {
  display: flex;
  padding: 15px;
  line-height: 18px;
}

.below-text-letters {
  margin: auto;
  text-align: left;
  padding-left: 11px;
}

.bolder {
  font-weight: 500;
}

.handmade-container {
  display: flex;
  width: 68%;
  margin: auto;
  padding-top: 23px;
}

.handmade-text {
  color: #595959;
  font-weight: 300;
  font-size: 13px;
  text-align: left;
  margin-top: 13px;
  margin-left: 10px;
}

.header {
  margin-left: 5px;
  padding-bottom: 10px;
}

.description-container {
  width: 70%;
  margin: auto;
  margin-top: 40px;
}

.description-text-box {
  max-height: 250px;
  overflow: hidden;
  margin-left: 5px;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  position: relative;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.full-text-box {
  max-height: none;
  margin-left: 5px;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  position: relative;
  transition: max-height 1s ease-in-out;
}

.read-more {
  display: block;
}

.fader {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0; padding: 30px 0;
  height: 190px;
  background-image: linear-gradient(to bottom, transparent, white);
  transition: background-image .7s ease-out;
}

.learn-more-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  padding: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 18px;
  text-decoration: none;
  color: #222222;
  border-radius: 24px;
  transition: .3s all ease-out;
}

.learn-more-btn:hover {
  cursor: pointer;
  background-color: #efefef;
}

.btn-container {
  text-align: center;
  margin-top: 40px;
}

.delivery-container {
  margin: auto;
  width: 80%;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.delivery-row {
  margin-top: 10px;
  display: flex;
  width: 100%;
}

.delivery-row.second {
  margin-top: 33px;
}

.row-inner {
  width: 50%;
  text-align: center;
  color: #595959;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}

#estimated-delivery {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: #222222;
  position: relative;
}

#estimated-delivery:hover {
  cursor: help;
}

#estimated-delivery:hover #delivery-description {
  visibility: visible;
  opacity: 1;
}

.bigger {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 22px;
  font-weight: 300;
  color: #222;
}

#delivery-description {
  border: 1px solid rgba(34, 34, 34, 0.15);
  border-radius: 12px;
  background: #FFFFFF;
  color: #222222;
  padding: 12px;
  width: 300px;
  position: absolute;
  font-size: 13px;
  line-height: 18px;
  font-weight: 300;
  text-align: left;
  box-shadow: 0 6px 36px rgba(34, 34, 34, 0.325);
  left: -20.7rem;
  top: -.5rem;
  visibility: hidden;
  opacity: 0;
  transition: .3s all ease-in-out;
}

.policies-container {
  margin: auto;
  margin-top: 100px;
  width: 73%;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 80;
  visibility: hidden;
  background: rgba(34, 34, 34, 0.65);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 6px 36px rgba(34, 34, 34, 0.325);
  background: #FFF;
  border-radius: 24px;
  margin: auto;
  max-width: 450px;
  z-index: 1000;
  padding: 30px;
  display: none;
}

.exit-button {
  bottom: 100%;
  right: -6px;
  margin-bottom: 6px;
  color: #FFFFFF;
  position: absolute;
  border-radius: 24px;
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  background: none;
  border: none;
  transition: .3s all ease-in-out;
  width: 40px;
  height: 40px;
}

.exit-button:hover {
  background: rgba(34, 34, 34, 0.65);
  cursor: pointer;
}

.policies-header {
  font-size: 18px;
  line-height: 1.4;
  text-align: left;
}

.policies-subheader {
  margin-top: 10px;
  font-size: 13px;
}

.payment-methods {
  width: 100%;
  margin-left: -7px;
  margin-top: 10px;
}

.payment-subtext {
  color: #595959;
  font-size: 10px;
}

.pad {
  margin-top: 40px;
}

.normal-text {
  font-size: 15px;
  margin-top: 17px;
}

.seller-container {
  width: 66%;
  margin: auto;
  margin-top: 50px;
}

.meet {
  font-weight: 300;
  font-size: 14px;
  color: #595959;
}

.seller-info-container {
  display: flex;
  margin-top: 20px;
}

.seller-img-container {
  width: 80px;
  height: 80px;
  border-radius: 100px;
}

.seller-img-container img {
  width: 100%;
  height: 100%;
  border-radius: 100px;
}

.seller-inner-text {
  padding: 10px;
  margin-left: 6px;
}

.seller-header {
  color: #222;
  font-size: 18px;
  margin-bottom: 15px;
}

.seller-subtext {
  font-weight: 300;
  font-size: 14px;
  color: #595959;
}

.message-btn {
  width: 100%;
}