@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

.mta-container {
  width: 85%;
  margin: auto;
  margin-left: 100px;
  margin-right: 20px;
  display: block;
  float: right;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.mta-header-container {
  display: flex;
  padding: 10px;
  width: 100%;
  position: relative;
  flex-wrap: wrap;
}

.mta-search-bar-container {
  padding-left: 18px;
  width: 46%;
  display: flex;
}

.mta-header-column {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  width: 20%;
  border-right: 1px solid #f0f0f0;
  height: 100%;
  color: #595959;
}

.mta-search {
  border-color: rgba(34, 34, 34, 0.15);
  border-style: solid;
  border-width: 1px;
  font-size: 16px;
  line-height: 28px;
  height: 50%;
  outline: none;
  background: transparent;
  border-top-left-radius: 96px;
  border-bottom-left-radius: 96px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
  background-color: #efefef;
  padding: 10px;
  width: 90%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.05);
}

.mta-various-links {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #f0f0f0;
  display: flex;
}

.mta-various-links div{
  color: #222;
  font-size: 14px;
  font-weight: 300;
  width: 13%;
  text-align: center;
}

.mta-various-links div:hover{
  cursor: pointer;
  color: #595959;
}

.mta-search-button {
  padding: 10px;
  padding-left: 20px;
  height: 50%;
  color: #222222;
  font-weight: bold;
  font-size: 16px;
  white-space: nowrap;
  background-color: #efefef;
  transition: all 500ms ease-out;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 96px;
  border-bottom-right-radius: 96px;
  border: 1px solid rgba(34, 34, 34, 0.15);
  border-left: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.05);
  width: 8%;
}

.mta-after-search {
  font-size: 14px;
  color: #222;
  height: auto;
  padding-top: 10px;
}

.mta-fars {
  font-size: 20px;
}

.mta-after-search:hover {
  color: #595959;
  text-decoration: underline;
  cursor: pointer;
}

.mta-icons-container {
  width: 40%;
  display: flex;
  margin: auto;
}

.mta-icons {
  font-size: 13px;
}

.mta-icons:hover {
  cursor: pointer;
  color: #222;
}

.mta-text {
  padding-top: 5px;
}

.mta-fa-search{
  font-size: 22px;
  padding-left: 10px;
}

.mta-search-button:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

.mta-logo {
  font-family: 'Lora', serif;
  color: #f1641e;
  font-weight: 500;
  font-size: 40px;
  width: 12%;
}

.mta-box {
  width: 100%;
  display: flex;
  margin-top: 50px;
}

.mta-header-section {
  margin: auto;
  color: #222;
  width: 100%;
}

.mta-box ul {
  list-style: none;
  line-height: 20px;
}

.mta-box ul li{
  margin-top: 20px;
}

.mta-header-product-text {
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 400;
  padding-top: 14px;
  font-size: 26px;
}


.mta-divider {
  color: #e1e3df;
  font-size: 14px;
  padding-left: 6%;
  padding-right: 6%;
}

.mta-header-text {
  font-size: 16px;
  font-weight: 300;
  color: #222;
}

.mta-price-text {
  padding-left: 10px;
  padding-top: 20px;
  font-size: 28px;
  font-weight: 500;
}

.mta-in-stock-text {
  font-size: 13px;
  float: right;
  padding-top: 12px;
}

.mta-stars {
  letter-spacing: 5px;
}

.mta-checkout-options-container {
  text-align: center;
}

.mta-checkout-options-container form{
  margin-top: 15px;
  display: block;
  float: left;
}

.mta-select-label {
  display: block;
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 6px;
  margin-top: 25px;
  float: left;
}

.mta-select-value {
  padding-left: 10px;
}

#mta-select-color {
  width: 100%;
  box-shadow: 0 1px 6px 0 rgba(34, 34, 34, 0.15);
  font-size: 16px;
  height: 48px;
  border-radius: 6px;
  background: #FFFFFF;
  border-color: rgba(34, 34, 34, 0.15);
  border-style: solid;
  border-width: 1px;
  color: #222222;
  text-indent: 0.01px;
  cursor: pointer;
  transition: 200ms ease-out;
  padding-left: 7px;
}

#mta-select-color:hover {
  border-color: rgba(34, 34, 34, 0.5);
  box-shadow: 0 1px 12px 0 rgba(34, 34, 34, 0.2);
}

.mta-btn {
  color: #222222;
  background: none;
  border: 2px solid #222222;
  display: block;
  width: 67%;
  margin: auto;
  text-align: center;
  margin-top: 20px;
  border-radius: 24px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 18px;
  position: relative;
  text-align: center;
  background-size: 100% 60%;
  background-position: 50% 50%;
}

.mta-buy-it-now-button {
  transition: transform 200ms ease-out;
  box-shadow: 0 4px 20px rgba(34, 34, 34, 0.15);
}

.mta-buy-it-now-button:hover {
  transform: scaleX(1.015) scaleY(1.035);
  cursor: pointer;
}

.mta-add-to-cart-button {
  transition: .2s,opacity 150ms ease-out;
  box-shadow: 0 4px 20px rgba(34, 34, 34, 0.15);
  background: #222222;
  color: #FFFFFF;
}

.mta-add-to-cart-button:hover {
  background: #2f2f2f;
  transform: scaleX(1.015) scaleY(1.035) perspective(1px);
  cursor: pointer;
}

.mta-below-text-container {
  width: 100%;
  margin: auto;
}

.mta-below-text {
  display: flex;
  line-height: 18px;
  margin-top: 25px;
  font-size: 13px;
}

.mta-below-text-letters {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
}

.mta-bolder {
  font-weight: 500;
}

.mta-handmade-container {
  display: flex;
  margin: auto;
  padding-top: 23px;
}

.mta-handmade-text {
  color: #595959;
  font-weight: 300;
  font-size: 13px;
  text-align: left;
  margin-top: 13px;
  margin-left: 10px;
}

.mta-header {
  margin-left: 5px;
  padding-bottom: 10px;
}

.mta-description-container {
  margin: auto;
  margin-top: 40px;
}

.mta-description-text-box {
  max-height: 250px;
  overflow: hidden;
  margin-left: 5px;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  position: relative;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.mta-full-text-box {
  max-height: none;
  margin-left: 5px;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  position: relative;
  transition: max-height 1s ease-in-out;
}

.mta-read-more {
  display: block;
}

.mta-fader {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0; padding: 30px 0;
  height: 190px;
  background-image: linear-gradient(to bottom, transparent, white);
  transition: background-image .7s ease-out;
}

.mta-learn-more-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 18px;
  text-decoration: none;
  color: #222222;
  border-radius: 24px;
  transition: .3s all ease-out;
}

.mta-learn-more-btn:hover {
  cursor: pointer;
  background-color: #efefef;
}

.mta-btn-container {
  text-align: center;
  margin-top: 40px;
}

.mta-delivery-container {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.mta-delivery-row {
  margin-top: 10px;
  display: flex;
  width: 100%;
}

.mta-delivery-row.mta-second {
  margin-top: 33px;
}

.mta-row-inner {
  width: 50%;
  text-align: center;
  color: #595959;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}

#mta-estimated-delivery {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: #222222;
  position: relative;
}

#mta-estimated-delivery:hover {
  cursor: help;
}

#mta-estimated-delivery:hover #mta-delivery-description {
  visibility: visible;
  opacity: 1;
}

.mta-bigger {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 22px;
  font-weight: 300;
  color: #222;
}

#mta-delivery-description {
  border: 1px solid rgba(34, 34, 34, 0.15);
  border-radius: 12px;
  background: #FFFFFF;
  color: #222222;
  padding: 12px;
  width: 300px;
  position: absolute;
  font-size: 13px;
  line-height: 18px;
  font-weight: 300;
  text-align: left;
  box-shadow: 0 6px 36px rgba(34, 34, 34, 0.325);
  left: -20.7rem;
  top: -.5rem;
  visibility: hidden;
  opacity: 0;
  transition: .3s all ease-in-out;
}

.mta-policies-container {
  margin-top: 100px;
}

.mta-modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 80;
  visibility: hidden;
  background: rgba(34, 34, 34, 0.65);
}

.mta-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 6px 36px rgba(34, 34, 34, 0.325);
  background: #FFF;
  border-radius: 24px;
  margin: auto;
  max-width: 450px;
  z-index: 1000;
  padding: 30px;
  display: none;
}

.mta-exit-button {
  bottom: 100%;
  right: -6px;
  margin-bottom: 6px;
  color: #FFFFFF;
  position: absolute;
  border-radius: 24px;
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  background: none;
  border: none;
  transition: .3s all ease-in-out;
  width: 40px;
  height: 40px;
}

.mta-exit-button:hover {
  background: rgba(34, 34, 34, 0.65);
  cursor: pointer;
}

.mta-policies-header {
  font-size: 18px;
  line-height: 1.mta-4;
  text-align: left;
}

.mta-policies-subheader {
  margin-top: 10px;
  font-size: 13px;
}

.mta-payment-methods {
  width: 100%;
  margin-left: -7px;
  margin-top: 10px;
}

.mta-payment-subtext {
  color: #595959;
  font-size: 10px;
}

.mta-pad {
  margin-top: 40px;
}

.mta-normal-text {
  font-size: 15px;
  margin-top: 17px;
}

.mta-seller-container {
  margin: auto;
  margin-top: 50px;
}

.mta-meet {
  font-weight: 300;
  font-size: 14px;
  color: #595959;
}

.mta-seller-info-container {
  display: flex;
  margin-top: 20px;
}

.mta-seller-img-container {
  width: 80px;
  height: 80px;
  border-radius: 100px;
}

.mta-seller-img-container img {
  width: 100%;
  height: 100%;
  border-radius: 100px;
}

.mta-seller-inner-text {
  padding: 10px;
  margin-left: 6px;
}

.mta-seller-header {
  color: #222;
  font-size: 18px;
  margin-bottom: 15px;
}

.mta-seller-subtext {
  font-weight: 300;
  font-size: 14px;
  color: #595959;
}

.mta-message-btn {
  width: 100%;
}